################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ShopEase_Api/.vs/ShopEase_Api/FileContentIndex
/ShopEase_Api/bin/Debug/net8.0
/ShopEase_Api/obj
/.vs
